@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(37, 37, 37);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(37, 37, 37);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(37, 37, 37);
  --primary: rgb(255, 17, 17);
  --primary-foreground: rgb(253, 253, 253);
  --secondary: rgb(247, 247, 247);
  --secondary-foreground: rgb(52, 52, 52);
  --muted: rgb(247, 247, 247);
  --muted-foreground: rgb(125, 125, 125);
  --accent: rgb(214, 4, 4);
  --accent-foreground: rgb(248, 248, 248);
  --destructive: rgb(255, 82, 37);
  --destructive-foreground: rgb(255, 82, 37);
  --border: rgb(235, 235, 235);
  --input: rgb(235, 235, 235);
  --ring: rgb(183, 183, 183);

  --chart-1: rgb(236, 69, 18);
  --chart-2: rgb(57, 147, 255);
  --chart-3: rgb(73, 112, 255);
  --chart-4: rgb(255, 214, 48);
  --chart-5: rgb(255, 196, 30);

  --radius: 0.625rem;

  --sidebar: rgb(253, 253, 253);
  --sidebar-foreground: rgb(37, 37, 37);
  --sidebar-primary: rgb(52, 52, 52);
  --sidebar-primary-foreground: rgb(253, 253, 253);
  --sidebar-accent: rgb(247, 247, 247);
  --sidebar-accent-foreground: rgb(52, 52, 52);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(183, 183, 183);
}

@layer base {
  * {
    @apply border-border;
    outline-color: var(--ring);
    outline-width: 1px;
    outline-offset: 2px;
  }
  body {
    @apply bg-background text-foreground;
  }
}
